<section ng-hide="rootError" class="container content">
	<form id="query-box" class="query-box" resizable r-directions="['bottom']">
		<ui-codemirror id="query" ui-codemirror-opts="codeQueryOptions" ng-model="query"></ui-codemirror>
		<div class="loader" ng-show="queryRunning"></div><button type="submit" class="button" ng-click="run()" ng-disable="queryRunning">Run<span ng-show="queryRunning">ing...</span></button>
	</form>
	<div class="result-wrap">
		<div class="result-mode">
			<div class="icon" ng-click="changeView('tree')" ng-show="mode == 'explorer'" ng-class="{'active': view.tree}">Tree</div>
			<div class="icon" ng-click="changeView('code')" ng-show="mode == 'explorer'" ng-class="{'active': view.code}">Json</div>
			<div class="icon" ng-click="changeView('raw')" ng-class="{'active': view.raw}">Raw</div>
		</div>
		<div class="result-view tree" ng-show="view.tree">
			<div class="result" ng-show="collection.name">
				<ul class="result-menu-main">
					<li class="menu-item" ng-include="'templates/jsonTree.html'" ng-class="[collection.open ? 'open': 'closed', {'leaf': collection.leaf}]"></li>
				</ul>
			</div>
			<div class="result" ng-hide="collection.name">No Data</div>
		</div>
		<div class="result-view code" ng-show="view.code">
			<div class="result">
				<ui-codemirror ui-codemirror-opts="codeOptions" ng-model="codeResult" ui-refresh="view" ng-right-click="rightClick()"></ui-codemirror>
			</div>
		</div>
		<div class="result-view raw" ng-show="view.raw">
			<div class="result-wrap">
				<div class="result-mode" ng-show="results.length > 1">
					<div class="icon" ng-repeat="result in results track by $index" ng-click="selectResult($index)" ng-class="{'active': selectedResult == $index}">{{$index+1}}</div>
				</div>
				<div class="result" ng-repeat="result in results track by $index" ng-show="selectedResult == $index">{{result}}</div>
			</div>
		</div>
		<div class="copy-wrap" ng-click="copy()">
			<img class="copy" src="img/copy.svg">
			<div class="copied" ng-show="copiedNow">copied</div>
		</div>
	</div>
</section>
<section ng-show="rootError" class="content offline">
	<div class="offline-wrap">
		<img class="logo" src="img/logo.svg">
		<div ng-hide="online">Turn on Internet!</div>
		<div ng-show="online && errorMessage">{{errorMessage}}</div>
		<div ng-click="create()" style="margin-top:10px;border-top:1px solid #ccc;font-size:14px;line-height:3;cursor:pointer;">Create new connection</div>
	</div>
</section>
